<h2> <%= @article.title %></h2>
<p> <%= @article.content %></p>
<p> <%= link_to 'edit', edit_article_path(@article) %></p>
    <p> <%= link_to 'delete', article_path(@article),
    method: :delete,
    data: {confirm: "Are you sure?"} %></p>

